<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="container mt-5">
    <h2>Usuarios</h2>
    <table id="formulario" class="display">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Correo Electrónico</th>
            <th>Rol</th>
            <th>Acciones</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.id}"></td>
            <td th:text="${usuario.nombreUsuario}"></td>
            <td th:text="${usuario.correoUsuario}"></td>
            <td th:text="${usuario.rol}"></td>
            <td>
                <a th:href="@{/usuarios/desactivar/{id}(id=${usuario.id})}">
                    <!-- Aquí puedes agregar el icono de eliminar en SVG -->
                    Eliminar
                </a>
            </td>
            <td>
                <a th:href="@{/usuarios/actualizar/{id}(id=${usuario.id})}">
                    <!-- Aquí puedes agregar el icono de editar en SVG -->
                    Editar
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-dark" href="/usuarios/nuevo">Agregar nuevo usuario</a>
</div>
<script>
    $(document).ready( function () {
    $('#formulario').DataTable();
} );
</script>

</body>
</html>
