
<body>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="mb-4">Iniciar Sesión</h2>
      <form method="POST" action="/Servipet/login">
        <input type="hidden" name="_token" value="your_csrf_token_here">
        <div class="mb-3">
          <label for="correo_usuario" class="form-label">Correo Electrónico:</label>
          <input type="email" id="correo_usuario" name="correoUsuario" class="form-control" value="" required autofocus>


        </div>
        <div class="mb-3">
          <label for="contrasena_usuario" class="form-label">Contraseña:</label>
          <input type="password" id="contrasena_usuario" name="contrasenaUsuario" class="form-control" required>


        </div>
        <p>No tiene cuenta? <a href="/registrar_usu">Cree una</a></p>
        <button type="submit" class="btn btn-dark">Iniciar Sesión</button>
      </form>
    </div>
  </div>
</div>
