
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4">Registro de Usuario</h2>
            <form method="post" action="/usuario/RegistroUsuario" id="registroUsuario">
                <div class="mb-3">
                    <label for="correoUsuario" class="form-label">Correo electrónico:</label>
                    <input type="email" id="correoUsuario" name="correoUsuario" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="nombreUsuario" class="form-label">Nombre y Apellido:</label>
                    <input type="text" id="nombreUsuario" name="nombreUsuario" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="contrasenaUsuario" class="form-label">Contraseña:</label>
                    <input type="password" id="contrasenaUsuario" name="contrasenaUsuario" class="form-control" required>
                </div>

                <div>
                    <button type="submit" class="btn btn-dark">Registrarse</button>
                </div>

                <input type="hidden" name="rol" value="3">
            </form>
        </div>
    </div>
</div>
</body>
